* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}

#canvas1 {
    height: 600px;
    width: 600px;
    /* border: 5px solid black; */
}

.controls {
    font-size: xx-large;
}

#animations {
    margin: 20px auto;
    height: 50px;
    width: 120px;
    font-size: xx-large;
    cursor: pointer;
}